<!DOCTYPE html>
<html>

<head>
    <title>Nick</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            padding-top: 50px;
        }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>




<body class="bg-light">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item"> <a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"> <a class="nav-link" href="/resume">Resume</a></li>
        <li class="nav-item"> <a class="nav-link" href="/work">Work</a></li>
        <li class="nav-item"> <a class="nav-link" href="/life">Life</a></li>
        </a>
    </ul>

    <div class="container">
        <h1>Nicholas Jahnke</h1>
    </div>
    <style>
        img {
            height: 295px;
            width: 287px;
        }

        #break {
            padding: 50px;
        }

        .icon {
            height: 100px;
            width: 100px;

        }

        #breaksm {
            height: 30px;
        }
    </style>
    <div class=" container container-fluid">
        <div class="row row-cols-2 ">
            <section class="col">
                <img class="img-fluid rounded" src="{% static 'IMG_9951.jpg' %}" alt="nickpic">
            </section>
            <section class="col justify-items-right">
                <div class="row" id="breaksm"></div>
                <h2>Contact</h2>
                <div class="row" id="breaksm"></div>
                <div>
                    <ul>
                        <div >
                            <li>
                                <h4>Phone</h4>

                                <p>(425) 518-3330 </p>



                            </li>

                            <li>
                                <h4>Email</h4>

                                <p>1995.nick@gmail.com</p>

                            </li>
                        




                        <li>
                            <h4>LinkedIn</h4>
                            <a href="https://linkedin.com/in/nickwritesnews">To Linkedin Profile</a>

                        </li>
                        <li>
                            <h4>Twitter</h4>
                            <a href="https://twitter.com/NickWritesNews">To Twitter Profile</a>
                        </li>
                    </ul>
                </section>

        </div>


        <div class="row" id="breaksm"></div>
        <div class="row" id="breaksm"></div>
        <div class="">
            <blockquote class="blockquote">
                "Whatever human beings can be, they must be."
                <footer class="blockquote-footer">
                    Abraham Maslow
                </footer>
               
            </blockquote>
            <div class="row" id="breaksm"></div>
            <div class="row" id="breaksm"></div>
            <div class = "jumbotron" style="background-color: #82ACEF"> 
            <h5>I graduated with a degree in digital journalism from Central Washington University in the infamous,
                unpredictable 2020. Prior to my time at CWU I played football for Pacific University. After
                graduation, I joined and earned a certificate from Coding Dojo, where I learned the fundamentals of web
                development.

                Journalism is a career I want to pursue because I love being a part of a team. I love the
                family-like bonds made within a newsroom, and working towards bringing local communities truthful,
                factual and helpful information.
            </h5>
        </div>
        
        






        <div class="row" id="break"></div>
        <div class="row">
            <h1>Learning Experience</h1>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row row-cols-1 row-cols-lg-3">
            <section class="col">
                <img class="img-fluid icon " src="{% static 'student-3070_e12ac7dc-b2ed-429a-ad81-d6aba4031c7c.png' %}">
                <h4>Bachelor's in Digital Journalism from Central Washington University</h4>
            </section>
            <section class="col">
                <img class="img-fluid icon tm-20 " src="{% static 'keyboard-2101_07b2d4c6-f409-482c-bddc-600475c89c1c.png' %}">
                <h4>Full-Stack Web Development Certificate from Coding Dojo</h4>
            </section>
            <section class="col">
                <img class="img-fluid icon " src="{% static 'news-website-3756_40592912-bbbd-42f4-9902-23616bbbbfa6.png' %}">
                <h4>Completed Sports Reporter Internship with Ellensburg Daily Record</h4>
            </section>
        </div>

        <div class="row" id="break"></div>
        <div class="row">
            <div class=" container container-fluid">
                <h1>Skills</h1>
            
            <div class="row " id="breaksm"></div>
            <div class="row row-cols-1 row-cols-lg-4">
                <section class="col">
                    <img class="img-fluid icon " src="{% static 'facebook-6177_52dfa5dc-9e37-47e8-a134-286444cd953a.png' %}">
                    <h4>Social Media Schedulers</h4>
                </section>

                <section class="col">
                    <img class="img-fluid icon " src="{% static 'news-3757_ca3950ab-6f13-4e7e-bdb1-186990f044b7.png' %}">
                    <h4>AP Style</h4>
                </section>

                <section class="col">
                    <img class="img-fluid icon " src="{% static 'social-3088_488f2f37-4530-4f74-9b3d-6a6cb0cb41f7.png' %}">
                    <h4>Adobe InDesign - Photoshop</h4>
                </section>
                <section class="col">
                    <img class="img-fluid icon " src="{% static 'mouse-2097_a09d8bf5-b337-4c92-8f46-1d97d42b7272.png' %}">
                    <h4>Web Development</h4>
                </section>
            </div>
        </div>
    </div>
        <div class="row" id="break"></div>


        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-primary">LinkedIn</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="https://linkedin.com/in/nickwritesnews">To Linkedin Profile</a>
                            </li>

                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <div >
                            <h5 class="text-uppercase mb-0 text-primary">Twitter</h5>

                            <ul class="list-unstyled justify-content-center">
                                <li>
                                    <a href="https://twitter.com/NickWritesNews">To Twitter Profile</a>
                                </li>
                        </div>

                        </ul>
                    </div>

                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: #82ACEF">
                This website was coded by Nick Jahnke using HTML, Bootstrap4 and Python3.

            </div>
            <!-- Copyright -->
        </footer>
    </div>








    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>