<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>

<body class="bg-light">
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item"> <a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"> <a class="nav-link" href="/resume">Resume</a></li>
        <li class="nav-item"> <a class="nav-link" href="/work">Work</a></li>
        <li class="nav-item"> <a class="nav-link" href="/life">Life</a></li>
        </a>
    </ul>
    <div class="row" id="breaksm"></div>
    <div class="container container-fluid">

        <h1>Best Newspaper Work</h1>
        <h5>Linked below are my some of the best examples of my work from my time with the Ellensburg Daily Record, The
            Observer as well as my senior capstone investigative project.</h5>
        <style>
            img {
                height: 287px;
                width: 287px;
            }

            #break {
                padding: 50px;
            }

            .icon {
                height: 100px;
                width: 100px;

            }

            #breaksm {
                height: 30px;
            }
        </style>
        <div class="container container-fluid" >
        <div class="row" id="break"></div>
        <div class="row">
            <h2>Senior Capstone Investigative Report on Food Health at CWU</h2>
            <a href="https://docs.google.com/document/d/1ZB-vj3YHSgeN0DIfCg_kqSypjAZWZKcH-i9CKS9VP3g/edit?usp=sharing">To
                Document</a>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row">
            <h2>Ellensburg softball optimistic for 2020 season </h2>
            <a
                href="https://www.dailyrecordnews.com/sports/ellensburg-softball-optimistic-for-2020-season/article_cf6d3cee-2e95-57f5-813a-184768dae907.html">To
                Daily Record</a>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row">
            <h2>Kittitas girls advance to league tournament
            </h2>
            <a
                href="https://www.dailyrecordnews.com/sports/kittitas-girls-advance-to-league-tournament/article_fdc84fbf-860a-5096-8c3f-a3ddada3587e.html">To
                Daily Record</a>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row">
            <h2>Two daughters, 100 sons </h2>
            <a href="https://cwuobserver.com/13823/sports/two-daughters-100-sons/">To The Observer</a>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row">
            <h2>Making plays on the field and in the classroom </h2>
            <a href="https://cwuobserver.com/13351/sports/making-plays-on-the-field-and-in-the-classroom/">To The
                Observer</a>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row">
            <h2>Students who bring overdose victims to hospital won’t be charged with possession </h2>
            <a
                href="https://cwuobserver.com/13047/news/students-who-bring-overdose-victims-to-hospital-wont-be-charged-with-possession/">To
                The Observer</a>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row">
            <h2>World Without Walls  </h2>
            <a href="https://cwuobserver.com/12363/scene/world-without-walls/">To The Observer</a>
        </div>
        <div class="row" id="breaksm"></div>
        <div class="row">
            <h2>Gaudino gives annual State of the University address on Jan. 15 </h2>
            <a
                href="https://cwuobserver.com/12698/news/gaudino-gives-annual-state-of-the-university-address-on-jan-15/">To
                The Observer</a>
        </div>
    </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <div class="row" id="breaksm"></div>
        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-primary">LinkedIn</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="https://linkedin.com/in/nickwritesnews">To Linkedin Profile</a>
                            </li>

                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <div>
                            <h5 class="text-uppercase mb-0 text-primary">Twitter</h5>

                            <ul class="list-unstyled justify-content-center">
                                <li>
                                    <a href="https://twitter.com/NickWritesNews">To Twitter Profile</a>
                                </li>
                        </div>

                        </ul>
                    </div>

                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: #82ACEF">
                This website was coded by Nick Jahnke using HTML, Bootstrap4 and Python3.

            </div>
            <!-- Copyright -->
        </footer>
    </div>
</body>

</html>